@import 'jeet'
// Nib and Rupture is already imported

body
	background-color white
	font-family Arial
	font-size 14px

	+below(1000px)
		background-color blue

.asd
	col(1/2)
	background-color #fff

.ff
	border-radius 10px
	pointer-events none
	transform translateY(-10px)
