body {
  background-color: #fff;
  font-family: Arial;
  font-size: 14px;
}
@media only screen and (max-width: 1000px) {
  body {
    background-color: #00f;
  }
}
.asd {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  background-color: #fff;
}
.asd:before,
.asd:after {
  content: '';
  display: table;
}
.asd:after {
  clear: both;
}
.asd:last-child {
  margin-right: 0%;
}
.ff {
  border-radius: 10px;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
